<div ng-include="'pages/header.html'"></div>
<div class="pageView" ng-controller="aboutController" ng-cloak>
    <h2>About Us</h2>
    <p>
        Griphus calculates NDVI for specific locations in Australia.
    </p>
    <p>Email: <a href="mailto:info@griphus.com.au">info@griphus.com.au</a>
    </p>
</div>