<div ng-include="'pages/header.html'"></div>
<div class="pageView" ng-controller="contactController" ng-cloak>
    <h2>Contact Us</h2>
    <p>For further information on Griphus please contact the project coordinator <strong>Professor Peter Grace</strong>
    </p>
    <p>Email: <a href="mailto:info@griphus.com.au">info@griphus.com.au</a>
    </p>
</div>