<div ng-controller="headerController" class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container" ng-cloak>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="#/" title="{{title}}">
                    {{title}}
                </a>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav pull-left">
                    <li ng-class="getClass(ref.url)" ng-repeat="ref in references">
                        <a ng-href="{{ ref.url }}">{{ ref.title }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>