<div ng-include="'pages/header.html'"></div>
<div class="pageView" ng-cloak>
    <ul rn-carousel rn-carousel-auto-slide class="about-info">
        <li ng-repeat="slide in slides">
            <div class="layer"><img src="{{slide.image}}" alt="{{slide.description}}"></div>
        </li>
    </ul>
    <p class="center">
        <a href="#/login" >
            <img class="buttonLink" src="images/aus.jpg">
        </a>
    </p>

</div>