﻿<div ng-include="'pages/header.html'"></div>
<div class="pageView loginView" ng-cloak>
    <div class="welcome">
        <h1 class="center">Welcome</h1>
        <p class="center">Please login to our platform.</p>
    </div>
    <div class="login">
        <div class="center" style="width:200px;padding:10px;">
            <div class="form-group">
                <input placeholder="Name" type="text" class="form-control" id="usr">
            </div>
            <div class="form-group">
                <input placeholder="Password" type="password" class="form-control" id="pwd">
            </div>
            <button class="btn btn-default" ng-click="login()">Login</button>
        </div>
     </div>
</div>