body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
fieldset,
input,
textarea,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  padding: 0;
  height: 100%;
  font-family: 'Roboto', 'sans-serif';
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.center {
  text-align: center;
  margin: 0 auto;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
}
.header {
  padding: 0;
  background-color: #f8f8f8;
}
.loginView {
  background: url("/images/red-soil.jpg");
  /*background-repeat: no-repeat;*/
  height: 100%;
  width: 100%;
}
.login {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.holder {
  height: 100%;
  min-height: 100%;
}
.mapView {
  height: 95%;
  min-height: 95%;
}
.view {
  height: 100%;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #592701;
  z-index: 9999;
}
.footer > div {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer > div > a,
.footer > div > p {
  float: left;
  margin-left: 10px;
}
.welcome {
  padding: 20px;
}
.about-info {
  min-height: 300px;
  height: auto;
  width: 100%;
  background-color: whitesmoke;
  padding: 40px;
  display: block;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
}
.closeTile {
  position: relative;
  top: 0;
}
.buttonLink {
  margin: 20px;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .navbar-header-tools {
    float: none;
  }
  .navbar-tools {
    border-radius: 0;
  }
}
@media screen and (min-width: 380px) {
  #breadcrumb-mobile {
    display: none;
  }
  #breadcrumb {
    display: inline;
  }
}
@media screen and (max-width: 380px) {
  #breadcrumb-mobile {
    display: inline;
  }
  #breadcrumb {
    display: none;
  }
  .tile-popUp {
    display: none;
  }
}
.breadcrumbFill {
  background-color: #094cec;
  height: 100%;
}
#breadcrumb a {
  display: block;
  float: left;
  background: #F0F0F0;
  padding-right: 10px;
  height: 30px;
  margin-right: 31px;
  position: relative;
  text-decoration: none;
  color: #aaa;
}
#breadcrumb a:last-of-type {
  margin-right: 25px;
}
#breadcrumb a:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -30px;
  border: 15px solid transparent;
}
#breadcrumb a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: -30px;
  border: 15px solid transparent;
  border-left-color: #F0F0F0;
}
#breadcrumb a:first-of-type {
  padding-left: 15px;
}
#breadcrumb a:first-of-type:before {
  display: none;
}
#breadcrumb a:hover {
  background: #00b0ec !important;
  color: #fff;
  text-decoration: none;
}
#breadcrumb a:hover:before {
  border-color: #00b0ec !important;
  border-left-color: transparent;
}
#breadcrumb a:hover:after {
  border-left-color: #00b0ec !important;
}
#breadcrumb a.active {
  background: #094cec;
  color: #fff;
  text-decoration: none;
}
#breadcrumb a.active:after {
  border-left-color: #094cec;
}
#breadcrumb a.active:before {
  border-color: #094cec;
  border-left-color: transparent;
}
#breadcrumb a {
  cursor: pointer;
}
.navbar-tools {
  margin-bottom: 0;
  border: 0;
}
.navbar-header-tools {
  padding-top: 0;
}
.navbar-brand-tools {
  padding: 10px 10px;
  height: 20px;
  float: left;
  font-size: 18px;
  line-height: 31px;
}
.navbar-default-tools {
  background-color: #f8f8f8;
}
.navbar-default-tools .navbar-brand-tools {
  color: #777;
}
a,
a:hover,
a:visited,
a.active,
a.focus {
  text-decoration: none;
  color: #777;
}
.tile-tools {
  position: fixed;
  z-index: 5;
  width: 20em;
  right: 0;
  height: 100%;
  margin-top: 0;
  background-color: #f8f8f8;
  overflow-y: auto;
  -webkit-box-shadow: -7px 0px 25px -8px rgba(0, 0, 0, 0.67);
  box-shadow: -7px 0px 25px -8px rgba(0, 0, 0, 0.67);
}
.tile-tools-hide {
  transition: all linear 0.4s;
}
.tile-tools.ng-hide {
  right: -100%;
}
.tools-header {
  color: black;
  padding: 10px;
  font-size: 18px;
  line-height: 31px;
  height: 55px;
}
.tile-description {
  position: absolute;
  right: 20px;
  z-index: 5;
  width: 200px;
  margin: 0 auto;
}
.tile-popUp {
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
}
.date-menu {
  margin: auto;
  width: 100%;
  height: auto;
}
.ndvi-profile-badge {
  min-width: 70px !important;
}
.vertical-tools {
  padding-top: 10em;
  height: 20em;
}
.nav.nav-tabs > li > a {
  cursor: pointer;
}
.input-group-addon {
  cursor: pointer;
}
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #094cec;
  border-color: #094cec;
}
#map_canvas {
  height: 100%;
  width: 100%;
}
.controls {
  margin-top: 9px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.searchInput {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 200px;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}
.searchInput:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;
  /* Regular padding-left + 1. */
  width: 200px;
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
.poweredBy {
  padding: 10px;
  margin-top: 15px;
}
