

.breadcrumbFill{
    background-color: @breadFillActive;
    height: 100%;
}
#breadcrumb {

}
#breadcrumb a {
    display: block;
    float: left;
    background: #F0F0F0;
    padding-right: 10px;
    height: 30px;
    margin-right: 31px;
    position: relative;
    text-decoration: none;
    color: #aaa;
}
#breadcrumb a:last-of-type {
    margin-right: 25px;
}
#breadcrumb a:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -30px;
    border: 15px solid transparent;
}
#breadcrumb a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -30px;
    border: 15px solid transparent;
    border-left-color: #F0F0F0;
}
#breadcrumb a:first-of-type {
    padding-left: 15px;
}
#breadcrumb a:first-of-type:before {
    display: none;
}
#breadcrumb a:hover {
    background: @breadFillHover;
    color: #fff;
    text-decoration: none;
}
#breadcrumb a:hover:before {
    border-color: @breadFillHover;
    border-left-color: transparent;
}
#breadcrumb a:hover:after {
    border-left-color: @breadFillHover;
}
#breadcrumb a.active {
    background: @breadFillActive;
    color: #fff;
    text-decoration: none;
}
#breadcrumb a.active:after {
    border-left-color: @breadFillActive;
}
#breadcrumb a.active:before {
    border-color: @breadFillActive;
    border-left-color: transparent;
}
#breadcrumb a{
    cursor: pointer;
}