@import "rest";
@import "media";
@import "breadcrumb";
@import "tools";
@import "map";

@import "prefixer";

@navitationText: white;
@colorText:black;
@headerColor:#f8f8f8;
@navigationFontSize: 18px;
@navigationHeight: 31px;
@breadFillHover: #00b0ec !important;
@breadFillActive: #094cec;
@breadFillInactive: #00b0ec;
@navigationColor: @breadFillActive;