#map_canvas {
  height: 100%;
  width: 100%;
}
.controls {
  margin-top: 9px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.searchInput {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 200px;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}
.searchInput:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;
  /* Regular padding-left + 1. */
  width: 200px;
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
.poweredBy{
  padding: 10px;
  margin-top: 15px;
}