@media screen and (min-width: 768px){
    .navbar-header-tools {
        float: none;
    }
    .navbar-tools{
        border-radius: 0;
    }
}

@media screen and (min-width: 380px) {
    #breadcrumb-mobile{
        display: none;
    }
    #breadcrumb{
        display: inline;
    }
}

@media screen and (max-width: 380px) {
    #breadcrumb-mobile{
        display: inline;
    }
    #breadcrumb{
        display: none;
    }
    .tile-popUp{
        display: none;
    }
}
