body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    margin: 0; padding: 0; border: 0;
}
html, body{
    padding:0;
    height:100%;
    font-family: 'Roboto','sans-serif';
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.center{
    text-align:center;
    margin: 0 auto;
}
.right{
    float:right;
}
.left{
    float:left;
}
.clear{
    clear:both;
}
.header{
    padding: 0;
    background-color: @headerColor;
}
.loginView{
    background: url("/images/red-soil.jpg");
    /*background-repeat: no-repeat;*/
    height: 100%;
    width: 100%;
}
.login{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
.holder{
    height:100%;
    min-height: 100%;
}
.mapView{
    height:95%;
    min-height: 95%;
}
.view{
    height: 100%;
    min-height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #592701;
    z-index: 9999;
}
.footer > div {
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer > div > a, .footer > div > p {
    float: left;
    margin-left:10px;
}
.welcome{
    padding: 20px;
}
.about-info {
    min-height:300px;
    height:auto;
    width: 100%;
    background-color:whitesmoke;
    padding:40px;
    display: block;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    padding-left: 10px;
}

.closeTile{
    position:relative;
    top:0;
}
.buttonLink{
    margin: 20px;
    background-color: white;
}
