.navbar-tools{
    margin-bottom: 0;
    border: 0;
}
.navbar-header-tools{
    padding-top: 0;
}
.navbar-brand-tools{
    padding: 10px 10px;
    height: 20px;
    float: left;
    font-size: @navigationFontSize;
    line-height: @navigationHeight;
}
.navbar-default-tools{
    background-color: #f8f8f8;
}
.navbar-default-tools .navbar-brand-tools {
    color: #777;
}
a, a:hover, a:visited, a.active, a.focus{
    text-decoration: none;
    color: #777;
}
.tile-tools{
    position: fixed;
    z-index: 5;
    width: 20em;
    right: 0;
    height:100%;
    margin-top: 0;
    background-color: #f8f8f8;
    overflow-y: auto;
    .box-shadow(-7px 0px 25px -8px rgba(0,0,0,0.67));
}
.tile-tools-hide{
    transition: all linear 0.4s;
}
.tile-tools.ng-hide {
    right: -100%;
}
.tools-header{
    color:@colorText;
    padding:10px;
    font-size: @navigationFontSize;
    line-height: @navigationHeight;
    height: 55px;
}
.tile-description{
    position: absolute;
    right: 20px;
    z-index: 5;
    width: 200px;
    margin: 0 auto;
}
.tile-popUp{
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index:1000;
    //.box-shadow(0px 0px 30px 0px rgba(0,0,0,0.5));
}
.date-menu {
    margin: auto;
    width: 100%;
    height: auto;
}
.ndvi-profile-badge{
    min-width: 70px !important;
}
.vertical-tools {
    padding-top: 10em;
    height: 20em;
}
.nav.nav-tabs>li>a{
    cursor: pointer;
}
.input-group-addon{
    cursor:pointer;
}
.gly-spin {
    .animation(spin 2s infinite linear)
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: @navigationColor;
    border-color: @navigationColor;
}