﻿<!DOCTYPE html>
<html lang="es" ng-app="app" itemscope itemtype="http://schema.org/LocalBusiness">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{description}}">
    <meta itemprop="name" content="{{title}}">
    <meta itemprop="description" content="{{description}}">
    <meta itemprop="image" content="images/logo.png">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/lib/angular-carousel.min.css"/>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="holder" ng-controller="appController">
    <div ng-view class="view"></div>
</div>
<script src="js/lib.js"></script>
<script src="js/app-min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places,drawing&key=AIzaSyBBzVl7En01a65gq5aMO8rttboPbo_M7R4"></script>
<script src="js/maps.google.polygon.containsLatLng.js"></script>
<script src="js/analytics.js" async></script>
</body>
</html>